<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Skill: <%= showSkill.skill %></title>
  </head>
  <body>
    <h1>Skill: <%= number %></h1>
    <h3><%= showSkill.skill %></h3>
    <h3>TIME: <%= time %></h3>
    <h3>Skill Level: <%= showSkill.skillLevel %></h3>
  </body>
</html> 